.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    padding: 42.5px 51.15px;
    align-items: center;
    border-bottom: 5px solid #2271D1; /* Borde inferior */
    box-shadow: 0 10px 30px rgba(34, 113, 209, 0.8); /* Difuminado hacia afuera */
    /* El primer valor (0) es el desplazamiento horizontal */
    /* El segundo valor (4px) es el desplazamiento vertical */
    /* El tercer valor (15px) es el difuminado */
    /* El último valor (rgba(34, 113, 209, 0.5)) es el color y la opacidad */
}

.header__botton__container {
    display: flex;
    gap: 25px;
}

.header__botton {
    border: solid 2.5px white;
    border-radius: 10px;
    width: 180px;
    height: 54px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Source Sans 3", serif;
}

.header__botton:hover {
    box-shadow: inset 0 0 15px #2271D1;
    background-color: #000000;
    color: #2271D1;
    border-color: #2271D1;
}
